In [2]:
import pandas as pd
import numpy as np
import openpyxl

In [5]:
pop=pd.read_excel("../data/population_by_area.xls",sheet_name="Persons")

In [14]:
pop=pop.drop(index=np.arange(0,5))

In [18]:
pop.columns=pop.iloc[0].to_list()

In [22]:
pop.index=np.arange(0,len(pop))

In [24]:
pop=pop.drop(index=0)

In [31]:
popAll=pop[pop['AGE GROUP'].str.contains("All")]

In [59]:
popAA=popAll[~popAll['AREA'].str.match('England')]

In [65]:
popAA

,CODE,AREA,AGE GROUP,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0,...,2034.0,2035.0,2036.0,2037.0,2038.0,2039.0,2040.0,2041.0,2042.0,2043.0
40,E12000001,North East,All ages,2657909.0,2667129.9,2674567.5,2681149.1,2687238.0,2693062.5,2698667.8,...,2741902.8,2744928.1,2747810.0,2750551.5,2753152.5,2755812.3,2758570.7,2761406.5,2764275.4,2767140.2
60,E06000047,County Durham,All ages,526980.0,529678.1,531946.5,533971.4,535874.9,537806.5,539668.7,...,553873.7,554839.0,555737.1,556587.8,557365.7,558161.7,558986.4,559828.8,560668.5,561500.4
80,E06000005,Darlington,All ages,106566.0,106695.0,106827.9,106933.4,107023.7,107074.7,107110.6,...,107055.1,107082.3,107125.7,107174.4,107240.2,107307.6,107377.5,107445.1,107511.2,107578.6
100,E06000001,Hartlepool,All ages,93242.0,93366.0,93458.4,93549.8,93620.7,93673.1,93694.9,...,93652.5,93662.8,93680.3,93703.3,93731.7,93761.5,93789.7,93817.8,93841.6,93863.2
120,E06000002,Middlesbrough,All ages,140545.0,140531.1,140422.7,140300.6,140176.0,140036.6,139899.6,...,139127.8,139070.1,139009.1,138946.6,138881.6,138821.2,138769.9,138725.7,138687.4,138655.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7300,E07000187,Mendip,All ages,114881.0,115705.6,116606.2,117520.5,118403.9,119259.3,120075.9,...,126617.4,127145.2,127675.8,128209.2,128751.2,129283.4,129806.9,130322.5,130836.3,131346.6
7320,E07000188,Sedgemoor,All ages,122791.0,123654.7,124482.2,125306.5,126095.4,126866.0,127618.4,...,133886.9,134451.1,135022.5,135604.1,136184.4,136756.6,137327.4,137891.5,138455.6,139012.0
7340,E07000189,South Somerset,All ages,167861.0,168613.9,169315.5,170004.6,170677.0,171320.1,171930.7,...,176517.7,176913.3,177299.9,177690.2,178097.2,178507.5,178910.1,179309.1,179703.5,180097.7
7360,E07000190,Taunton Deane,All ages,118979.0,120453.7,121889.0,123287.8,124638.0,125946.6,127195.4,...,137400.7,138278.1,139147.8,139995.9,140835.6,141658.8,142455.4,143231.2,143982.8,144719.2
7380,E07000191,West Somerset,All ages,34887.0,35142.0,35369.4,35604.5,35852.2,36098.9,36347.2,...,38588.8,38776.0,38957.7,39136.4,39312.7,39485.1,39654.0,39819.2,39980.4,40140.3

In [70]:
popAA=popAA.drop(columns=popAA.columns[6:None])
popAA=popAA.drop(columns='AGE GROUP')

In [71]:
popAA.columns=["Area code","Area name","pop2018","pop2019","pop2020"]

In [73]:
popAA.index=np.arange(0,len(popAA))

In [77]:
popAA.to_csv("population_by_area2018_projections.csv")